@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  list-style: none;
}

.home-page-heading-hr hr {
  width: 160px;
  margin: auto;
  border: 2px solid #134e4a;
}

.lighter-hr hr {
  width: 140px;
  margin: auto;
  border: 2px solid #f8fafc;
}

.lighter-hr-med hr {
  width: 120px;
  margin: auto;
  border: 2px solid #f8fafc;
}

.lighter-hr-shorter hr {
  width: 85px;
  margin: auto;
  border: 2px solid #f8fafc;
}